nhn.storage.accessKey=
nhn.storage.secretKey=
nhn.region=KR1
nhn.service.name=s3
nhn.storage.bucket.name=suslmk-storage
nhn.storage.endpoint.url=kr1-api-object-storage.nhncloudservice.com

slack.bot.token=xoxb-xxxxxxxx-xxxxxxx-xxxxxxx-xxxxxxx
slack.receiver.email=mctlmk@gmail.com

database.url=root:ahsus123@tcp(localhost:3307)/?parseTime=true